@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

header{
    background-image: url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
}

.logo > img{
    width: 20vw;
}

nav{
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.logo{
    margin: 20px 0px 0px 30px;
}
.nav-btn {
    background-color: white;
    color: rgb(119, 119, 119);
    padding: 10px 5px;
    border-radius: 20px;
    border-style: none;
    margin: 10px 50px 0px 0px;
    width: 170px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.hero-section{
    display: flex;
    flex-direction: row;
    margin: 70px 100px;
    justify-content: space-between;
    align-items: center;
}

.right-col img{
    width: 40vw;
    padding: 0px 0px 0px 10px;
}
.left-col h1 {
    margin: 0px 0px 10px 0px;
} 

.left-col{
    letter-spacing: 0.5px;
    text-align: left;
}

p{
    margin: 0px 0px 20px 0px;
}

.hero-cta-btn{
    width: 200px;
    background-color: hsl(322, 100%, 66%);
    padding: 10px;
    border-style: none;
    color: white;
    border-radius: 20px;
    box-shadow: -1px 3px 20px 2px rgba(106, 106, 106, 0.344);
}

button:hover {
    background-color: #e52ea2;
    box-shadow: 0px 15px 20px rgba(254, 0, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px 10px 10px 100px;
}

.card-one{
    margin: 0px 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: -1px 3px 20px 2px rgba(106, 106, 106, 0.344);
}


.card-two {
    margin: 30px 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: -1px 3px 20px 2px rgba(106, 106, 106, 0.344);
    
}

.card-three{
    margin: 0px 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: -1px 3px 20px 2px rgba(106, 106, 106, 0.344);
    
}

.left-card-col img {
    width: 30vw;
    margin: 50px;
}

.right-card-col img {
    width: 30vw;
    margin: 50px;
}

.footr-tab{
    border-radius: 10px;
    box-shadow: -1px 3px 20px 2px rgba(106, 106, 106, 0.344);
    background-color: #fff;
    width: 50%;
    height: 20vh;
    margin: auto;
    text-align: center;
}

.footr-btn{
    width: 200px;
    background-color: hsl(322, 100%, 66%);
    padding: 10px;
    line-height: 75px;
    border-style: none;
    color: white;
    border-radius: 20px;
    box-shadow: -1px 3px 20px 2px rgba(106, 106, 106, 0.344);
}

.footer-txt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(15, 37, 41);
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    color: white;
    padding: 100px 0px;
}

.ft-1{
    display: flex;
    flex-direction: column;
}

.ft-1 > img{
    max-width: 200px;
    margin: 20px 10px;
}

.ft-2{
    display: flex;
    flex-direction: column;
}

.ft-3{
    display: flex;
    flex-direction: column;
}

.ft-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

@media screen and (max-width: 400px) {
    .nav-btn{
        width: 70px;
        font-size: 8px;
        cursor: pointer;
        box-shadow: 2px 2px 2px 2px rgba(73, 73, 73, 0.2);
    }
   
    .left-col{
        font-size: 14px;
        letter-spacing: 0.5px;
        text-align: center;
    }

        .hero-section{
            margin: 50px 20px;
            flex-wrap: wrap;
        }

    .right-col img {
        width: 70vw;
        }
        .right-col{
            align-items: center;
            justify-content: center;
            margin-left: 40px;
            margin-top: 20px;
        }

    main{
       padding: 0px;
       font-size: 12px;
       letter-spacing: 0.5px;
       text-align: center;
    }

    .card-one{
        margin: 0px 40px;
    }

        .card-two {
            margin: 15px 40px;
        }

                .card-three {
                    margin: 10px 40px;
                }

    .footer-txt{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding: 10px 30px;
        font-size: 13px;
    }

        .ft-1>img {
            max-width: 100px;
            margin: 20px 10px;}

     .footr-tab>h2{
        font-size: 20px;
     }
}
